name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  

jobs:
  build-release:
    name: Build and release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc
          cache: 'npm'
    
      - name: Install dependencies
        run: npm install
      
      - name: Build
        run: npx vsce package 
      
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: "*.vsix"
          generate_release_notes: true
      
      - name: Publish
        run: npm run deploy
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
